.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
  background-color: #112D32;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navlink {
  color: #FFFFFF
}

.navlink:hover {
  color: #A4B3B6;
  text-decoration: none;
}

.menu {
  width: 300px;
  float: left;
  margin-left: 100px;
}

.menulink {
  display: block;
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  background-color: #4F4A41;
  color: #FFFFFF;
}

.menulink:hover {
  color: #A4B3B6;
  text-decoration: none;
  background-color: #6E6658;
}

.bg {
  background-color: #f4f4f4;
}

.menuicon {
  margin-right: 12px;
}

.siteFooter {
  margin-top: 20px;
  padding-top: 27px;
  padding-bottom: 15px;
  background-color: #112D32;
}

.footer-paragraph {
  color: #FFFFFF;
  font-size: 14px;
}
