.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
  background-color: #112D32;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navlink {
  color: #FFFFFF;
  font-size: 16px;
}

.navlink:hover {
  color: #A4B3B6;
  text-decoration: none;
}

.menu {
  width: 350px;
  float: left;
  margin-left: 0px;
}

.menulink {
  display: block;
  padding: 17px;
  font-size: 16px;
  text-decoration: none;
  background-color: #4F4A41;
  color: #FFFFFF;
}

.menulink:hover {
  color: #A4B3B6;
  text-decoration: none;
  background-color: #6E6658;
}

.bg {
  background-color: #f4f4f4;
}

.menuicon {
  margin-right: 12px;
}

.siteFooter {
  margin-top: 90px;
  padding-top: 27px;
  padding-bottom: 15px;
  background-color: #112D32;
}

.footer-paragraph {
  color: #FFFFFF;
  font-size: 14px;
  margin-left: 12px;
}

.navbaricon {
  margin-right: 12px;
}

.nav-item {
  margin-right: 33px;
}

.home-picture {
  margin-left: 275px;
  width: 100%;
  height: auto;
  max-width: 1000px;
  max-height: 400px;
}

.product-card {
  height: 325px;
  width: 250px;
  margin-left: 25px;
  margin-top: 10px;
}

.product-name {
  font-size: 20px;
  margin-bottom: 0px;
  color: #254E58;
  font-weight: 500;
}

.product-name:hover {
  color: #A4B3B6;
}

.product-card:hover {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 15px 35px 0 rgba(0, 0, 0, 0.19);
  color: #A4B3B6;
  text-decoration: none;
}

.product-price {
  font-size: 30px;
  color: #00FF00;
  font-weight: bolder;
}

.productLink:hover {
  text-decoration: none;
  color: #A4B3B6;
}

.loginCard {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  margin-left: 725px;
  margin-top: 140px;
}

.form-label {
  font-size: 15px;
  margin-right: 325px;
  font-weight: 700;
}

.form-button {
  font-size: 20px;
  background-color: #112D32;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
}

.form-button:hover {
  color: #A4B3B6;
}

.newUserCard {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 75px;
  margin-left: 725px;
  margin-top: 30px;
  margin-bottom: 140px;
}

.newUserCard-paragraph {
  font-size: 20px;
  font-weight: 600;
}

.nav-button {
  background-color: #112D32;
  color: #FFFFFF;
  border: none;
}

.registerCard {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 700px;
  margin-left: 725px;
  margin-top: 130px;
  margin-bottom: 130px;
}

.categoryCard {
  width: 100%;
  height: auto;
  max-width: 500px;
  margin-left: 690px;
}

.categoryCard:hover {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 15px 35px 0 rgba(0, 0, 0, 0.19);
}

.categoryLink {
  color: #000000;
}

.categoryLink:hover {
  color: #A4B3B6;
  text-decoration: none;
}



