.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar {
  background-color: #112D32;
  padding-top: 3px;
  padding-bottom: 3px;
}

.navlink {
  color: #FFFFFF;
  font-size: 16px;
}

.navlink:hover {
  color: #A4B3B6;
  text-decoration: none;
}

.menu {
  width: 350px;
  float: left;
  margin-left: 0px;
  border-right: 1px solid #A4B3B6;
  background-color: #4F4A41;
}

.menulink {
  display: block;
  padding: 17px;
  font-size: 16px;
  text-decoration: none;
  background-color: #4F4A41;
  color: #FFFFFF;
}

.menulink:hover {
  color: #A4B3B6;
  text-decoration: none;
  background-color: #6E6658;
}

.bg {
  background-color: #f4f4f4;
}

.menuicon {
  margin-right: 12px;
}

.siteFooter {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #254E58;
}

.footer-paragraph {
  color: #FFFF;
  font-size: 15px;
  font-weight: 500;
}

.footer-header {
  color: #FFFF;
}

.navbaricon {
  padding: 5px;
}

.navbaricon:hover {
  border-radius: 8px;
  background-color: #254E58;
}

.nav-item {
  margin-right: 15px;
}

.home-picture {
  margin-left: 0px;
  width: 100%;
  height: auto;
  max-width: 1553px;
  max-height: 350px;
}

.product-name {
  font-size: 22px;
  margin-bottom: 0px;
  margin-right: 200px;
  color: #000000;
  font-weight: 500;
}

.product-price {
  font-size: 27px;
  color: #6E6658;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: 800px;
}

.productLink {
  color: #FFFF;
}

.productLink:hover {
  text-decoration: none;
  color: #A4B3B6;
}

.loginCard {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 500px;
  margin-left: 725px;
  margin-top: 180px;
}

.form-label {
  font-size: 15px;
  margin-right: 325px;
  font-weight: 700;
}

.form-button {
  font-size: 20px;
  background-color: #112D32;
  color: #FFFFFF;
  width: 200px;
  height: 50px;
}

.form-button:hover {
  color: #A4B3B6;
}

.newUserCard {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 75px;
  margin-left: 725px;
  margin-top: 30px;
  margin-bottom: 180px;
}

.newUserCard-paragraph {
  font-size: 20px;
  font-weight: 600;
}

.nav-button-second {
  background-color: #112D32;
  color: #FFFFFF;
  border: none;
}

.registerCard {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 700px;
  margin-left: 725px;
  margin-top: 130px;
  margin-bottom: 130px;
}

.categoryCard {
  width: 100%;
  height: auto;
  max-width: 500px;
  margin-left: 690px;
}

.categoryCard:hover {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 15px 35px 0 rgba(0, 0, 0, 0.19);
}

.categoryLink {
  color: #000000;
}

.categoryLink:hover {
  color: #A4B3B6;
  text-decoration: none;
}

.infoCard {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 700px;
  margin-top: 130px;
  margin-bottom: 130px;
  margin-left: 690px;
}

.read-more {
  font-size: 18px;
  background-color: #112D32;
  color: #FFFFFF;
  width: 150px;
  height: 45px;
  margin-bottom: 0px;
  margin-left: 750px;
}

.read-more:hover {
  color: #A4B3B6;
  text-decoration: none;
}

.menu-title {
  display: block;
  padding: 17px;
  font-size: 20px;
  text-decoration: none;
  background-color: #4F4A41;
  color: #FFFFFF;
  margin-bottom: 0px;
  border-bottom: 1px solid #A4B3B6;
}

.second-menu-title {
  display: block;
  padding: 17px;
  font-size: 16px;
  text-decoration: none;
  background-color: #4F4A41;
  color: #FFFFFF;
  margin-bottom: 0px;
  border-top: 1px solid #A4B3B6;
}

.second-menu-title:hover {
  color: #A4B3B6;
  text-decoration: none;
  background-color: #6E6658;
}

.question-button {
  background-color: #6E6658;
  color: #FFFF;
  font-size: 18px;
  max-height: 40px;
}

.question-button:hover {
  color: #A4B3B6;
}

.question-card {
  background-color: #6E6658;
  width: 100%;
  height: auto;
  max-width: 575px;
  margin-top: 10px;
}

.question-collapse {
  background-color: #FFFF;
}

.category-item {
  width: 950px;
  height: 200px;
  margin-bottom: 25px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.product-card {
  height: auto;
  width: 100%;
  max-height: 385px;
  max-width: 260px;
  margin-left: 25px;
  margin-top: 10px;
}

.product-card:hover {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 15px 35px 0 rgba(0, 0, 0, 0.19);
}

.home-product-name {
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 20px;
}

.home-product-price {
  font-weight: bold;
  font-size: 22px;
  color: #6E6658;
  margin-bottom: 0px;
}

.home-product-link:hover {
  text-decoration: none;
}

.footer-icon {
  max-height: 32px;
}

.site-footer-second {
  background-color: #112D32;
}

.copyright-text {
  font-size: 14px;
  color: #FFFF;
  margin-top: 32px;
}

.footer-link {
  color: #FFFF;
  font-size: 15px;
  margin-right: 185px;
  font-weight: 500;
}

.footer-link:hover {
  text-decoration: none;
  color: #A4B3B6;
}

.nav-button {
  height: auto;
  max-height: 35px;
  border: 1px solid #FFFF;
  padding-bottom: 5px;
  padding-top: 2px;
}

.carousel-inner {
  max-height: 450px !important;
  max-width: 1550px !important;
}

.cart-bg {
  width: 100%;
  height: auto;
  max-width: 1200px;
  background-color: #FFFF;
  margin-left: 355px;
  margin-top: 190px;
  margin-bottom: 190px;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 15px 35px 0 rgba(0, 0, 0, 0.19);
}

.cart-card {
  background-color: #f4f4f4;
  width: 100%;
  height: auto;
  max-width: 700px;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 35px;
}

.cart-header {
  margin-right: 500px;
  color: #000000;
  font-weight: 475;
}

.cart-amount-card {
  width: 100%;
  max-width: 425px;
  height: 275px;
  background-color: #f4f4f4;
  margin-left: 25px;
  margin-top: 25px;
}

.cart-amount-header {
  color: #000000;
  font-weight: 475;
  margin-right: 125px;
}

.cart-amount-paragraph {
  font-size: 20px;
  margin-right: 100px;
  margin-left: 50px;
}

.cart-price {
  font-size: 20px;
  margin-left: 50px;
}

.cart-paymentmethods {
  background-color: #f4f4f4;
  width: 100%;
  max-width: 700px;
  height: 150px;
  margin-bottom: 25px;
  margin-left: 35px;
}

.cart-button {
  background-color: #112D32;
  color: #FFFF;
  width: 100%;
  height: auto;
  max-width: 350px;
  font-size: 20px;
}

.cart-button:hover {
  color: #A4B3B6;
}

.line {
  border-bottom: 2px solid #FFFF;
}

.category-info-card {
  width: 100%;
  height: auto;
  max-width: 1200px;
  max-height: 200px;
  background-color: #FFFF;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.2), 0 15px 35px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
  padding: 25px;
}

.icon {
  height: 48px;
  width: 48px;
}

.product-page-card {
  width: 1200px;
  height: 750px;
  background-color: #FFFF;
  margin-left: 200px;
  margin-top: 80px;
}

.product-page-button {
  width: 100%;
  height: auto;
  max-width: 350px;
  font-size: 20px;
  background-color: #112D32;
  color: #FFFF;
  margin-left: 800px;
  margin-top: 15px;
}

.product-page-button:hover {
  color: #A4B3B6;
}

.product-page-title {
  margin-right: 605px;
  margin-left: 200px;
}

.product-page-price {
  color: #6E6658;
  margin-bottom: 15px;
  margin-top: 15px;
}

.product-page-paragraph {
  margin-left: 875px;
  font-size: 13px;
  color: #808080;
  margin-bottom: 0px;
}

.product-page-paragraph-div {
  margin-top: 200px;
}

.product-page-price-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 15px;
}

.product-page-description {
  font-size: 17px;
  font-weight: 300;
}

.product-page-description-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 35px;
}

.product-page-description-div {
  margin-top: 35px;
  margin-left: 900px;
  border-top: 2px solid #D3D3D3;
}

.product-page-manufacturer-div {
  margin-top: 20px;
  margin-left: 900px;
  border-top: 2px solid #D3D3D3;
}

.product-page-manufacturer-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 35px;
}

.cart-list {
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.cart-delete {
  color: #FFFF;
  background-color: #112D32;
  font-size: 15px;
  margin-left: 510px;
  position: absolute;
}

.cart-delete:hover {
  color: #A4B3B6;
}

.cart-item-name {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 500;
  margin-left: 5px;
}

.cart-item-price {
  position: absolute;
  margin-left: 400px;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 10px;
  color: #4F4A41;
  font-weight: 500;
}

.delete-icon {
  margin-left: 5px;
  margin-bottom: 2px;
}